<section id="basic-content" class="layout basic-content content-center" data-menutitle="Basic Content">
    <div class="wrapper">
        <div class="row">
			<div class="col">
                <div class="content">
                    <h1>Layout - Basic Content</h1>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.</p>
                    <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
                <div class="buttons">
                    <a href="#" target="_self" class="btn">Button TItle</a>
                    <a href="#" target="_self" class="btn">Button TItle</a>
                </div>
            </div>
        </div>
    </div>
</section>