<section id="cards-style-1" class="layout card-set style-1" data-menutitle="Cards - Style 1">
	<div class="wrapper">
		<h2 class="title">Cards - Style 1</h2> <!-- Style guide title -->
		<div class="deck-of-cards">
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
		</div>
	</div>
</section>

<!-- New style 2 
Was previously clients -->
<section id="cards-style-2" class="layout card-set style-2" data-menutitle="Cards - Style 2">
	<div class="wrapper">
		<h2 class="title">Cards - Style 2</h2> <!-- Style guide title -->
		<div class="deck-of-cards">
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
		</div>
	</div>
</section>

<!-- Style 3
Was previously style 2 -->
<section id="cards-style-3" class="layout card-set style-3" data-menutitle="Cards - Style 3">
	<div class="wrapper">
		<h2 class="title">Cards - Style 3</h2> <!-- Style guide title -->
		<div class="deck-of-cards">
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item.html')
			</div>
		</div>
	</div>
</section>

<!-- Style 4
Was previously job listing -->
<section id="cards-style-4" class="layout card-set style-4" data-menutitle="Cards - Style 4">
	<div class="wrapper">
		<h2 class="title">Cards - Style 4</h2> <!-- Style guide title -->
		<div class="deck-of-cards">
			<div class="block-single-card" v-for="n in 3">
				@include('card-item-3.html')
			</div>
			<div class="block-single-card" v-for="n in 3">
				@include('card-item-3.html')
			</div>
			<!-- <div class="block-single-card" v-for="n in 3">
				@include('card-item-3.html')
			</div> -->
		</div>
	</div>
</section>