<section id="gallery" class="layout gallery images slider-with-nav">
    <div class="wrapper">
        <h2 class="title">Gallery - Slider</h2> <!-- Style guide title -->
        <div class="items" data-id="1" data-slick='{
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "asNavFor": ".layout.slider-with-nav .items-nav", 
            "arrows": false, 
            "fade": true,
            "adaptiveHeight": true,
            "responsive": [{"breakpoint": 768,"settings": {"arrows": true}}]
        }'>
            <div class="item">
                <img src="https://via.placeholder.com/800x480.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/1000x600.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/800x480.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/1000x580.png" alt="Image description" />
            </div>
        </div>
        <!-- Echo the layout index into the slider-nav class -->
        <div class="items-nav" data-id="1" data-slick='{
            "slidesToShow": 3, 
            "slidesToScroll": 1, 
            "asNavFor": ".layout.slider-with-nav .items", 
            "arrows": true, 
            "focusOnSelect": true
        }'>
            <div class="item">
                <img src="https://via.placeholder.com/1000x1000.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/1000x600.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/800x480.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/1000x580.png" alt="Image description" />
            </div>
        </div>
    </div>
</section>
                    
<section id="gallery" class="layout gallery logos slider">
    <div class="wrapper">
        <h2 class="title">Logo - Slider</h2>
        <div class="items" data-slick='{
            "slidesToShow": 5,
            "slidesToScroll": 1,
            "arrows": true,
            "autoplay": true,
            "infinite": true,
            "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 3, "slidesToScroll": 1}}]
        }'>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
        </div>
    </div>
</section>

<section id="gallery" class="layout gallery logos">
    <div class="wrapper">
        <h2 class="title">Logo - Grid</h2>
        <div class="items">
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300x300.png" alt="Image description" />
            </div>
        </div>
    </div>
</section>