<section id="hero-style-2-right" class="layout hero style-2 content-right" style="background-color: #F6F6F6;" data-menutitle="Hero - Style 2 - Content Right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<!-- Add support for a video & placeholder image -->
				<div class="image" style="background-image: url('https://via.placeholder.com/600x400.png');">
					<img class="visually-hidden" src="https://via.placeholder.com/600x400.png" alt="">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h2 class="h2 title">Hero Style 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="wp-block-button alignleft">
						<a href="javascript:void(0)" class="wp-block-button__link">Learn more</a>
						<a href="javascript:void(0)" class="wp-block-button__link">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="hero-style-2-left" class="layout hero style-2 content-left" style="background-color: #F6F6F6;" data-menutitle="Hero - Style 2 - Content Left">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<!-- Add support for a video & placeholder image -->
				<div class="image" style="background-image: url('https://via.placeholder.com/600x400.png');">
					<img class="visually-hidden" src="https://via.placeholder.com/600x400.png" alt="">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h2 class="h2 title">Hero Style 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="buttons">
						<a href="javascript:void(0)" class="btn">Learn more</a>
						<a href="javascript:void(0)" class="btn">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="hero-style-2-center" class="layout hero style-2 content-center" style="background-color: #F6F6F6;" data-menutitle="Hero - Style 2 - Center">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="h2 title">Hero Style 2 - No Image</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="buttons">
						<a href="javascript:void(0)" class="btn">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>