<div class="wp-block-group">
	<div class="wp-block-group__inner-container">
		<section id="hero-style-1-right" class="layout hero style-1 content-right" data-menutitle="Hero - Style 1 Content Right">
			<div class="row">
				<div class="col icon">
					<div class="video">
						<div class="embed-container">
							<iframe src="https://www.youtube.com/embed//gdJjc6l6iII" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<img src="assets/img/icon-blue.svg" class="svg" alt="">
				</div>
				<div class="col">
					<div class="content">
						<h2 class="h2 title">Hero - Style 1 - Content Right</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute.</p>
						<div class="buttons">
							<a href="javascript:void(0)" class="btn">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="wp-block-group">
	<div class="wp-block-group__inner-container">
		<section id="hero-style-1-left" class="layout hero style-1 content-left" data-menutitle="Hero - Style 1 Content Left">
			<div class="row">
				<div class="col icon">
					<div class="image" style="background-image: url('https://via.placeholder.com/600x400.png');">
						<img class="visually-hidden" src="https://via.placeholder.com/600x400.png" alt="">
					</div>
					<img src="assets/img/icon-green.svg" class="svg" alt="">
				</div>
				<div class="col">
					<div class="content">
						<h2 class="h2 title">Hero - Style 1 - Content Left</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute.</p>
						<div class="buttons">
							<a href="javascript:void(0)" class="btn">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>