<!-- Cards -->
<div class="image" style="background-image: url('https://via.placeholder.com/400x280')">
	<img class="visually-hidden" src="https://via.placeholder.com/400x280" alt="Image description">
</div>
<div class="text">
	<h3 class="title">
		<a class="link" href="#" target="_self">Card Title</a>
	</h3>
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</div>

<!-- Posts -->
<div class="image" style="background-image: url('https://via.placeholder.com/400x280')">
	<img class="visually-hidden" src="https://via.placeholder.com/400x280" alt="Image description">
</div>
<div class="text">
	<p class="category">Category</p>
	<p class="author">Author Name Here</p>
	<h3 class="title">
		<a class="link" href="#" target="_self">Card Title</a>
	</h3>
	<p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod.</p>
</div>

<!-- People / Has a different image size than all other items -->
<div class="image" style="background-image: url('https://via.placeholder.com/380x360')">
	<img class="visually-hidden" src="https://via.placeholder.com/380x360" alt="Image description">
</div>
<div class="text">
	<h3 class="title">
		<a class="link" href="#" target="_self">Name Here</a>
	</h3>
	<p class="excerpt">Job Title Can Go Here</p>
</div>

<!-- Jobs -->
<div class="text">
	<h3 class="title">
		<a class="link" href="#" target="_self">Job Title Here</a>
	</h3>
    <p>City, State</p>
    <div class="buttons">
        <a href="#" target="_self" class="btn">View Details</a>
    </div>
</div>