<!-- Listing item, used for clients -->
<div class="image" style="background-image: url('https://via.placeholder.com/400x280')">
	<img class="visually-hidden" src="https://via.placeholder.com/400x280" alt="Image description">
</div>
<div class="text">
	<h3 class="title">
		<a class="link" href="#" target="_self">Card Title</a>
	</h3>
	<p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</div>