<section id="listing-people-grid" class="layout listing card-set grid" data-menutitle="Listing - People">
	<div class="wrapper">
		<h2 class="title">Listing - People</h2> <!-- Style guide title -->
		<div class="deck-of-cards">
			<div class="block-single-card people">
				@include('listing-people-item.html')
			</div>
			<div class="block-single-card people">
				@include('listing-people-item.html')
			</div>
			<div class="block-single-card people">
				@include('listing-people-item.html')
			</div>
		</div>
	</div>
</section>